<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
    <style>
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>

<div class="container">
    <h2 th:if="${not #lists.isEmpty(posts.postResponseList) and (category == posts.postResponseList.get(0)?.category.QNA)}">
        무엇이든 물어보세요!
    </h2>
    <h2 th:if="${not #lists.isEmpty(posts.postResponseList) and (category == posts.postResponseList.get(0)?.category.KNOWLEDGE)}">
        자신의 지식을 공유해 주세요!
    </h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>등급</th>
            <th>카테고리</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
         <tbody>
        <tr th:each="post : ${posts.postResponseList}">
            <td th:text="${post.getTitle()}">제목</td>
            <td>
                <a th:href="@{/user/{userId}(userId=${post.getUserResponse().id})}">
                    <span><b><i th:text="${post.getUserResponse().nickname}"></i></b></span>
                </a>
            </td>
            <td th:text="${#temporals.format(post.getCreatedAt(),'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${post.getUserResponse().userRole}"></td>
            <td th:text="${post.category}"></td>
            <td>
                <a th:href="@{/posts/{id}(id=${post.getId()})}" class="btn align-self-end"
                   style="background-color: #0abab5; color: #ffffff;">상세보기</a>
            </td>
        </tr>
        </tbody>
    </table>
    <th:block>
        <form th:action="@{/posts}" method="get">
            <input type="text" name="title">
            <button type="submit" class="btn align-self-end"
                    style="background-color: #0abab5; color: #ffffff;">검색
            </button>
        </form>
    </th:block>
</div>
</body>

</html>