<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
    <style>
        h2 {
            text-align: center;
        }

    </style>
</head>
<body>
<div th:replace="/layout/nav.html :: fragment-nav"></div>

<div>
    <div class="container">
        <div class="card m-2" th:each="post : ${posts.postResponseList}">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title" th:text="${post.getTitle()}">제목</h4>
                <a th:href="@{/posts/{id}(id=${post.getId()})}" class="btn align-self-end"
                   style="background-color: #0abab5; color: #ffffff;">상세보기</a>
                <h6 class="mt-1">작성자: <strong th:text="${post.getUserResponse().nickname}"> </strong>
                </h6>
                <h6 class="mt-1">
                    등급 : <strong th:text="${post.getUserResponse().userRole}"></strong>
                </h6>
                <h6 class="mt-1">
                    카테고리 : <strong th:text="${post.category}"></strong>
                </h6>
            </div>
        </div>
    </div>
</body>
</html>